{% load static from staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<div class="wr">
    {% if hotels|length > 0 %}
        {% for hotel in hotels %}
            <div class="hotel-item">
                <img src="{{hotel.img.url}}" alt="" class="pic">
                <div class="desc-wr">
                    <a href="{% url 'dashboard:details' hotel.id %}"><div class="title">{{ hotel.name }}</div></a>
                    <div class="intro">{{hotel.intro}}</div>
                    <div class="add-info">{{hotel.city}}</div>
                    <div class="add-info">{{hotel.min_price}}</div>

                </div>

            </div>
        {% endfor %}
    {% else %}
        Отелей нет
    {% endif %}
</div>
</body>
</html>